/* #0C2159 very dark blue
closer to royal blue #20448C
#4E71D9 kind of a perry winkle
#375C8C grey blue
#DEECFD whitish blue probably a good font or out line */

html {
    box-sizing: border-box;
    background-color: #DEECFD ;

}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
}
header{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0C2159 ;
    margin: 0 auto;
    padding: 6px;
    width: 100%;
    text-align: center;
    /* position: fixed; /* Set the navbar to fixed position */
    /* top: 0;    */
   }
.hpic{max-width: 100px;
    max-height: 100px;
        }   
/* header{ width: 100%;
    text-align: center;
} */

h1{ 
    /* font-family: 'Carter One', cursive; */
    
    font-family: 'Special Elite', cursive;
    color: #DEECFD;
    /* text-decoration: ; */
    font-size:36px;
    margin-bottom: 6px;
    margin: 0 auto;}

h2{ font-family: 'Special Elite', cursive;
    color: #DEECFD;
    font-size: 24px;
    margin: 0 auto;
    margin-left: 12px;
    margin-right: 12px;}

.about{
    
    margin: 0 auto;
    padding: 6px;
    width: 100%;
    text-align: center;
}

h3 {
    font-family: 'Special Elite', cursive;
    color: #0C2159;
    font-size: 24px;
    margin: 0 auto;
    margin: 12px;

}

h3, h4 {
        text-align: center;
}

h4 {
    color:#0C2159;
    font-family: 'Special Elite', cursive;
    margin-top: 12px;
    margin-bottom: 12px;
    }
.experience_and_skills{ display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
.experience_and_skills p{ 
                        margin-left: 12px;
                        margin-right: 12px;
}

.extras_1 {
           display: flex;
           flex-direction: column;
           justify-content: center;
}

p { font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #0C2159
}
.extras_1 div{ font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #0C2159;
    text-align: center;
}
.extras_1 h3{
             margin-left: 6px;
             margin-right: 18px;
}
.extras_2 div{ font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #0C2159;
    text-align: center;
}
.projects{ display: flex;
           /* flex-direction: column; */
           justify-content: space-around;
           flex-wrap: wrap;
           margin-left: 6px;
           margin-right: 6px;


           /* width: 35%; */
        }
.project{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            width: 45%;
            
}

.projects img{ 
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.project_2{
            margin-top: 6px;
            margin-bottom: 15px;


    }
footer p{
        text-align: center;
}

@media (min-width: 700px) {h1 { 
    font-size: 54px;
    margin-left: 24px; 
   } 
   header {
           height: 250px;
   }
   h2{ font-size: 36px;
     margin-left: 24px;}
   h3{font-size: 36px; 
     margin-left: 24px;}
   p{font-size: 14px;}
   .extras_1 div{ 
                 font-size: 14px;
}
   .extras_2 div{ 
                 font-size: 14px;
}
.projects img{ 
    object-fit: cover;
    width: 250px;
    height: 250px;
    }
}
 
@media (min-width: 1100px) {
    .project{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 25%;
    }
        
}
   
   



        



